@import '../../styles/mixins'
@import '../../styles/colors'
@import '../../styles/variables'

.bubles-container
    +flex(start,center,column)
    max-height: 300px
    width: 150px
    padding: 0 10px
    background-color: $terciary-background
    border-radius: $boder-element-x
    transition: width 500ms ease-out
    &.expand
        width: 400px
        .users-bubles-list
            display: grid
            grid-template-columns: 30% 30% 30%
            grid-template-rows: repeat(3, 50px)
    h2 
        margin: 5px
    .users-bubles-list
        width: 100%
        overflow-y: scroll
        padding: 0
        list-style-type: none
        .user-line 
            +flex(center)
            padding: 5px
            font-weight: 900
            .user-logo-buble
                border-radius: 50%
                width: 30px
                margin-right: 10px
            &:hover
                cursor: pointer
                border-radius: $boder-element
                background-color: $light-blue
    .see-more-opt
        cursor: pointer
        width: 100%
        padding: 0 0 10px 15px