@import '../../styles/mixins'
@import '../../styles/colors'

.header-bn
    +flex(center, start)
    width: 100%
    background-color: $secondary-color
    img 
        margin-right: 20px 
        height: 60px
    .header-title
        color: white