@import '../../styles/mixins'
.user-card
    +flex(center, space-evenly)
    min-width: 500px
    height: 300px
    overflow: hidden
    .user-logo
        border-radius: 50%
        width: 200px
        height: 200px
    .user-info
        min-width: 200px