@import './styles/mixins'
@import './styles/colors'
@import './styles/variables'

main 
    position: relative
.me-by
    position: absolute
    bottom: 5px
    right: 5px
    text-decoration: none
    font-size: 12px
    color: #9c9c9c

.aplication-container
    +flex(center, center, column)
    flex-wrap: wrap
    background-color: $primary-background   
    .retry-btn
        width: 250px
        height: 50px
        padding: 5px 15px
        margin: 10px 0
        border-radius: $boder-element
        background-color: $primary-color  
        color: white
        border: none         

@media only screen and (max-width: $break-small-mobile)
    .me-by
        position: fixed
        background-color: aliceblue
        width: 95%